* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
}

main {
  padding: 50px 0;
}

.container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
/*   background-color: grey;
 */}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.sale {
  color: red;
}

i {
  padding: 12px;
  display: inline-block;
  font-size: 24px;
  background-color: white;
  text-align: center;
}

.discount {
  background-color: red;
  display: inline-block;
  padding: 5px;
}

.eco {
  background-color: #008000;
  display: inline-block;
  padding: 5px;
}

.heart {
  position: absolute;
  right: 0;
  top: 10px;
}

.info > span {
  font-size: 14px;
}

.price {
  text-decoration: line-through;
}

.product {
  width: calc(( 100% - 40px ) / 3);
}

.details {
  position: absolute;
  bottom: 40px;
  left: 0;
  color: white;
  display: inline-block;
}

.info{
  margin-top: 10px;
  width: 100%;
  position: static;
}

div.photo {
  position: relative;
}

.photo-2 {
  width: 100%;
  display: block;
}

.photo-1 {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

img.photo-1:hover {
  opacity: 1;
}